/* CSS Document */
body{	margin:0px; padding:0px; font-family:"微软雅黑"; 
		font-size:14px;background:#9400d3;}
	.wz_1{width:960px; height:100px;background:#666;margin:auto;}
    .wz_2{width:960px;height:600px;margin:auto;}
    .wz_3{width:960px;height:100px; background:#666;margin:auto;}
    .zuo{width:700px;height:600px;background:#455678;float:left;}
    .you{width:260px;height:600px;float:left;}
    #you_1{width:260px;height:200px;background:#404040;float:left;}
    #you_2{width:260px;height:200px;background:#626262;float:left;}
   #you_3{width:260px;height:200px;background:#404040;float:left;}